<p id="notice"><%= notice %></p>

<p>
  <b>Datetime:</b>
  <%= @donation.datetime %>
</p>

<p>
  <b>Document number:</b>
  <%= @donation.document_number %>
</p>

<p>
  <b>Amount:</b>
  <%= @donation.amount %>
</p>

<p>
  <b>Donor:</b>
  <%= @donation.donor %>
</p>

<p>
  <b>Note:</b>
  <%= @donation.note %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
