<%= simple_form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_account %>

  <div class="field">
      <%= f.label 'Type' %><br/>
      <%= f.select :payment_type, [['Вступительный взнос', 'initial'], ['Членский взнос', 'membership'], ['Пожертвование', 'donation']] %>
    </div>


  <div class="row">
    <div class="col-lg-6">
      <%= f.association :member, value_method: :id, label_method: Proc.new {|m| "#{sprintf("%06d", m.card_number.nil? ? 0 : m.card_number)} " + m.full_name }  %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <%= f.input :date, as: :date_picker %>
      <%= f.input :start_date, as: :date_picker %>
      <%= f.input :number %>
    </div>

    <div class="col-lg-3">
      <%= f.input :amount %>
      <%= f.input :end_date, as: :date_picker %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :note %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
