<h1>Listing payments</h1>

<table>
  <tr>
    <th></th>
    <th>Card #</th>
    <th>Member</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Period start</th>
    <th>Period end</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payments.each_with_index do |payment, i| %>
  <tr>
    <td><%= i+1 %></td>
    <td><%= payment.member.card_number_str unless payment.member.nil? %></td>
    <td><%= payment.member.full_name unless payment.member.nil? %></td>
    <td><%= payment.date %></td>
    <td><%= payment.amount %></td>
    <td><%= payment.start_date %></td>
    <td><%= payment.end_date %></td>
    <td><%= payment.note unless payment.note.nil? %></td>
    <td><%= link_to 'Show', payment %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payment', new_payment_path %>
