<p id="notice"><%= notice %></p>

<strong>Тип:</strong>
<%= @payment.payment_type %><br/>

<strong>Член:</strong>
<%= @payment.member.full_name unless @payment.member.nil? %><br/>

<strong>Имя плательщика:</strong>
<%= @payment.full_name unless @payment.full_name.blank? %><br/>

<strong>Дата:</strong>
<%= @payment.date %><br/>

<strong>Номер платежа:</strong>
<%= @payment.number %><br/>

<strong>Сумма:</strong>
<%= @payment.amount %><br/>

<strong>Действителен: с</strong> <%= @payment.start_date %> <strong>по</strong> <%= @payment.end_date %><br/>

<strong>Примечание:</strong> <%= simple_format @payment.note unless @payment.note.nil? %><br/>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
