<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "screen" %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <header>
    <%= link_to pages_home_path do -%>
      <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
    <% end -%>
    <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Members", members_path %></li>
      <li><%= link_to "Payments", payments_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <% if admin_signed_in? -%>
        <li><%= link_to "Sign out (#{current_admin.email})", destroy_admin_session_path, :method => :delete %></li>
      <% else -%>
        <li><%= link_to "Sign in", new_admin_session_path %></li>
      <% end -%>
    </ul>
    </nav>
    </header>
    <section class="round">
    <% unless notice.nil? -%>
      <p class="notice"><%= raw notice %></p>
    <% end -%>
    <% unless alert.nil? -%>
      <p class="alert"><%= raw alert %></p>
    <% end %>
    <% for name in [:notices, :errors, :messages] -%>
      <% if flash[name] %>
        <div id="<%= name %>"><%= raw flash[name].join("<br/>\n") %></div>
      <% end %>
    <% end %>
    <%= yield %>
    </section>
  </div>

</body>
</html>
