<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="span-8">
    <div class="field span-8">
      <%= f.label :last_name %><br/>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :address %><br/>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :phone %><br/>
      <%= f.phone_field :phone %>
    </div>
    <div class="field">
      <%= f.label 'Does application exist?' %><br/>
      <%= f.check_box :application_exists %>
    </div>
    <div class="field" id="application_date_field" style="display: <%= @member.application_exists ? '':'none' %>">
      <%= f.label :application_date %><br/>
      <%= datepicker_su f, :application_date, :changeYear => true, :yearRange => '2011:+0' %>
    </div>

  </div>

  <div class="span-8">
    <div class="field span-8 last">
      <%= f.label :given_names %><br/>
      <%= f.text_field :given_names %>
    </div>
    <div class="field">
      <%= f.label :postal_address %><br/>
      <%= f.text_field :postal_address %>
    </div>
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :joined %><br/>
      <%= f.check_box :joined %>
    </div>
    <div id="joined_member_fields" style="display: <%= @member.joined ? '':'none' %>">
      <div class="field">
        <%= f.label :join_date %><br/>
        <%= datepicker_su f, :join_date, :value => '' %>
      </div>
      <div class="field">
        <%= f.label :join_protocol %><br/>
        <%= f.text_field :join_protocol, :size => 4 %>
      </div>
    </div>
  </div>

  <div class="span-8 last">
    <div class="field">
      <%= f.label :date_of_birth %><br/>
      <%= datepicker_su f, :date_of_birth, :changeYear => true, :yearRange => '-90:-13' %>
    </div>
    <div class="field">
      <%= f.label :card_number %><br/>
      <%= f.text_field :card_number, :size => 6 %>
    </div>
    <div class="field">
      <%= f.label :site_user %><br/>
      <%= f.text_field :site_user, :size => 10 %>
    </div>
    <div class="field">
      <%= f.label :site_user_creation_date %><br/>
      <%= datepicker_su f, :site_user_creation_date %>
    </div>
  </div>

  <div class="span-24">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>

<% end %>
