- restricted = !can?(:manage, Member)
= simple_form_for(@member) do |f|
  - if @member.errors.any?
    #error_explanation
      %h2
        = pluralize(@member.errors.count, "error")
        prohibited this member from being saved:
      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-lg-4
    .col-lg-4
      = image_tag @member.avatar_url(:medium), class: 'rounded' if @member.photo_url.blank?
      = f.input :photo, label: 'Фото (заменить существующее):'
  .row
    .col-lg-4
      = f.input :last_name, disabled: restricted
      = f.input :phone, :as => :phone
    .col-lg-5
      = f.input :given_names, disabled: restricted
      = f.input :email, disabled: restricted
    .col-lg-3
      = f.input :date_of_birth, :as => :date_picker, disabled: restricted
      = f.input :card_number, input_html: { size: 6 }, disabled: restricted
  .row
    .col-lg-9
      = f.input :address
    .col-lg-3
      = f.input :join_date, :as => :date_picker, disabled: restricted

  - if can? :manage, Member
    .row
      .col-lg-3
        = f.input :membership_paused
      .col-lg-5
        #membership_pause_note_field{:style => "display: #{@member.membership_paused ? '':'none'}"}
          = f.input :membership_pause_note
  .row
    .col-lg-12
      .actions
        = f.button :submit, 'Сохранить'
        = link_to "Отмена", :back

