<% checked_all ||= false -%>
<% importing ||= false -%>

<%= will_paginate @members %>

<table class="members">
  <colgroup>
    <col/>
    <col/>
    <col style="width: 13em;"/>
    <col/>
    <% if importing -%>
      <col style="width: 10em;"/>
    <% end -%>
    <col/>
    <col style="width: 8em;"/>
    <col/>
    <col/>
    <col/>
    <col/>
    <col/>
  </colgroup>
  <tr>
    <th><%= check_box_tag 'check_all', 'check_all', checked_all %></th>
    <th>#</th>
    <th><%= sortable 'last_name', "Фамилия, имя, отчество" %></th>
    <th><%= sortable 'date_of_birth', "Birth date" %></th>
    <th><%= sortable 'address', "Address" %></th>
    <th><%= sortable 'email', "E-mail" %></th>
    <th><%= sortable 'application_date', "A." %></th>
    <th><%= sortable 'application_date', "App date" %></th>
    <th><%= sortable 'site_user', "Site user" %></th>
    <th><%= sortable 'payments', "Fees" %></th>
    <th>Actions</th>
  </tr>
  <tr>
    <th></th>
    <th></th>
    <th class="shifted"><%= sortable 'card_number', "Card #" %></th>
    <th></th>
    <th><%= sortable 'postal_address', "Postal address" %></th>
    <th class="shifted"><%= sortable 'phone', "Phone" %></th>
    <th><%= sortable 'join_date', "J." %></th>
    <th><%= sortable 'join_date', "Join date" %></th>
    <th class="shifted"><%= sortable 'site_user_creation_date', "Registration date" %></th>
    <th></th>
    <th></th>
  </tr>

  <% @members.each_with_index do |member, i| %>
    <% if !importing -%>
      <% row_class = ''
        p = member.payments.find(:last, :conditions => {:end_date => Time.now.to_date..('9999-01-01'.to_date) })
      row_class = 'class=debtor' if p.nil?
      debtor = p.nil?
    -%>

    <% end -%>
    <tr <%= row_class %>>
      <td><%= check_box 'selected_members', 'id', {:multiple => true, :class => 'check', :checked => checked_all}, importing ? i : member.id, nil %></td>
      <td><%= i+1 %></td>
      <td><%= member.last_name %> <%= member.given_names %></td>
      <td><%= member.date_of_birth %></td>
      <td><%= member.address %></td>
      <td><%= member.email %></td>
      <td><%= member.application_exists ? '✓' : '' %></td>
      <td><%= member.application_date %></td>
      <td><%= link_to member.site_user, "http://bike.org.by/users/#{member.site_user_normalized}" unless member.site_user.blank? %></td>
      <td><%= member.payments.size %></td>
      <td><%= link_to 'Show', member_path(member) %> | <%= link_to 'Edit', edit_member_path(member) %> | <%= link_to 'Pay', new_payment_for_path(member) %></td>
    </tr>
    <tr <%= row_class -%> class="secondary_row">
      <td></td>
      <td></td>
      <td class="shifted"><%= sprintf("%06u", member.card_number) unless member.card_number.nil? %></td>
      <td></td>
      <td><%= member.postal_address %></td>
      <td class="shifted"><%= member.phone %></td>
      <td><%= member.joined ? '✓' : '' %></td>
      <td title="<%= member.join_date %>, <%= member.join_protocol %>"><%= member.join_date %></td>
      <td class="shifted"><%= member.site_user_creation_date %></td>
      <td><%= 'debtor!' if debtor %></td>
      <td></td>
    </tr>
  <% end %>
</table>

