<% checked_all ||= false -%>
<% importing ||= false -%>

<%= will_paginate @members %>

<table class="members">
  <colgroup>
    <col/>
    <col/>
    <col style="width: 13em;"/>
    <col/>
    <% if importing -%>
      <col style="width: 10em;"/>
    <% end -%>
    <col/>
    <col style="width: 8em;"/>
    <col/>
    <col/>
    <col/>
    <col/>
    <col/>
  </colgroup>
  <tr>
    <th><%= check_box_tag 'check_all', 'check_all', checked_all %></th>
    <th>#</th>
    <th><%= sortable 'last_name', t(".full_name") %></th>
    <th><%= sortable 'date_of_birth', m_attr_name('date_of_birth')  %></th>
    <th><%= sortable 'address', m_attr_name('address') %></th>
    <th><%= sortable 'email', m_attr_name('email') %></th>
    <th><%= sortable 'application_date', t(".app_abbr") %></th>
    <th><%= sortable 'application_date', m_attr_name('application_date') %></th>
    <th><%= sortable 'site_user', m_attr_name('site_user') %></th>
    <th><%= sortable 'payments', m_attr_name('payments') %></th>
    <th><%= t '.actions' %></th>
  </tr>
  <tr>
    <th></th>
    <th></th>
    <th class="shifted"><%= sortable 'card_number', m_attr_name('card_number') %></th>
    <th></th>
    <th><%= sortable 'postal_address', m_attr_name('postal_address') %></th>
    <th class="shifted"><%= sortable 'phone', m_attr_name('phone') %></th>
    <th><%= sortable 'join_date', t('.join_abbr') %></th>
    <th><%= sortable 'join_date', m_attr_name('join_date') %></th>
    <th class="shifted"><%= sortable 'site_user_creation_date', m_attr_name('site_user_creation_date') %></th>
    <th></th>
    <th></th>
  </tr>

  <% @members.each_with_index do |member, i| %>
    <% if !importing -%>
      <% row_class = ''
        p = member.payments.find(:last, :conditions => {:end_date => Time.now.to_date..('9999-01-01'.to_date) })
      row_class = 'class=debtor' if p.nil?
      debtor = p.nil?
    -%>

    <% end -%>
    <tr <%= row_class %>>
      <td><%= check_box 'selected_members', 'id', {:multiple => true, :class => 'check', :checked => checked_all}, importing ? i : member.id, nil %></td>
      <td><%= i+1 %></td>
      <td><%= member.last_name %> <%= member.given_names %></td>
      <td><%= member.date_of_birth %></td>
      <td><%= member.address %></td>
      <td><%= member.email %></td>
      <td><%= member.application_exists ? '✓' : '' %></td>
      <td><%= member.application_date %></td>
      <td><%= link_to member.site_user, "http://bike.org.by/users/#{member.site_user_normalized}" unless member.site_user.blank? %></td>
      <td><%= member.payments.size %></td>
      <td><%= link_to 'Show', member_path(member) %> | <%= link_to 'Edit', edit_member_path(member) %> | <%= link_to 'Pay', new_payment_for_path(member) %></td>
    </tr>
    <tr <%= row_class -%>>
      <td></td>
      <td></td>
      <td class="shifted"><strong><%= sprintf("%06u", member.card_number) unless member.card_number.nil? %></strong></td>
      <td></td>
      <td><%= member.postal_address %></td>
      <td class="shifted"><%= member.phone %></td>
      <td><%= member.joined ? '✓' : '' %></td>
      <td title="<%= member.join_date %>, <%= member.join_protocol %>"><%= member.join_date %></td>
      <td class="shifted"><%= member.site_user_creation_date %></td>
      <td><%= t '.debtor!' if debtor %></td>
      <td></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @members %>

