<table>
  <tr>
    <th><%= check_box_tag 'check_all', 'check_all', checked_all %></th>
    <th>#</th>
    <th><%= link_to "Last name", :sort => 'last_name' %></th>
    <th><%= link_to "Given names", :sort => 'given_names' %></th>
    <th><%= link_to "Birth date", :sort => 'date_of_birth' %></th>
    <th><%= link_to "Address", :sort => 'address' %></th>
    <th><%= link_to "E-mail", :sort => 'email' %></th>
    <th><%= link_to "Phone", :sort => 'phone' %></th>
    <th><%= link_to "Application", :sort => 'application_date' %></th>
    <th><%= link_to "Join date", :sort => 'join_date' %></th>
    <th><%= link_to "Join protocol", :sort => 'join_protocol' %></th>
    <th><%= link_to "Card #", :sort => 'card_number' %></th>
    <th><%= link_to "Site user", :sort => 'site_user' %></th>
    <th></th>
  </tr>

  <% @members.each_with_index do |member, i| %>
    <tr>
      <td><%= check_box 'selected_members', 'id', {:multiple => true, :class => 'check', :checked => checked_all}, i, nil %></td>
      <td><%= i+1 %></td>
      <td><%= member.last_name %></td>
      <td><%= member.given_names %></td>
      <td><%= member.date_of_birth %></td>
      <td><%= member.address %></td>
      <td><%= member.email %></td>
      <td><%= member.phone %></td>
      <td><%= member.application_exists ? member.application_date : '' %></td>
      <td><%= member.join_date %></td>
      <td><%= member.join_protocol %></td>
      <td><%= sprintf("%06u", member.card_number) unless member.card_number.nil? %></td>
      <td><%= link_to member.site_user, "http://bike.org.by/users/#{member.site_user_normalized}" unless member.site_user.nil? or member.site_user.blank? %></td>
      <td><%= link_to 'Show', member_path(member) %></td>
      <td><%= link_to 'Edit', edit_member_path(member) %></td>
    </tr>
  <% end %>
</table>

