.row
  .col-lg-4
    .row
      .col-lg-12
        = image_tag member.avatar_url(:medium), class: 'rounded', width: '100%'
    .row
      .col-lg-12
        %h4= member.card_number_str
    .row
      .col-lg-12
        = link_to 'Редактировать данные', edit_member_path(member)

  .col-lg-8
    .row
      .col-lg-12
        %h2= member.full_name
    - if member.membership_paused?
      .row
        .col-lg-12.text-danger
          Членство приостановлено (причина:
          = member.membership_pause_note
          ).

    .row
      .col-lg-4
        %strong e-mail
      .col-lg-6
        = member.email
    .row
      .col-lg-4
        %strong Дата рождения
      .col-lg-6
        = member.date_of_birth
    .row
      .col-lg-4
        %strong Телефон
      .col-lg-6
        = member.phone
    .row
      .col-lg-4
        %strong Дата вступления
      .col-lg-6
        = member.join_date
    .row
      .col-lg-4
        %strong Адрес регистрации
      .col-lg-6
        = member.address
    .row
      .col-lg-4
        %strong Подписка на рассылку МВО
      .col-lg-6
        = member.subscribe_to_mails ? 'да' : 'нет'

    .row.mt-5
      .col-lg-4
        %h5 Членские взносы
      .col-lg-5
      .col-lg-3
        = link_to 'Оплатить взнос', member_pay_path(member)

    .row
      .col-lg-12
        %table.table.table-striped
          %thead
            %tr
              %th Дата
              %th Сумма
              %th Начало периода
              %th Конец периода
              - if admin_signed_in?
                %th
          %tbody
            - member.payments.order(date: 'desc').each do |payment|
              %tr
                %td= payment.date
                %td= payment.amount
                %td= payment.start_date
                %td= payment.end_date
                - if admin_signed_in?
                  %td= link_to 'Изменить', edit_payment_path(payment)

