- unless @member.nil?
  %p
    Билет номер
    %strong= @member.card_number || "Неизвестно"
- if @member.nil? or @member.last_payment.nil?
  %p
    %strong Информация о взносах отсутствует
- else
  - p = @member.last_payment
  - if @member.debtor?
    %p
      %strong
        Взнос истёк. Пожалуйста, не забудьте
        %a{href: member_pay_path(@member)} оплатить
  %p
    %strong Последний взнос:
    = "#{p.amount} рублей, внесён #{p.date}, действителен по #{p.end_date}"

  - unless @member.debtor?
    %p
      Если хотите, можете
      %a{href: member_pay_path(@member)} оплатить
      ещё.
