.row
  %h1 Вступление в МВО
.row
  %p Для вступления в Минское велосипедное общество, пожалуйста, заполните эту анкету.

= simple_form_for(@member) do |f|
  .row
    .col-lg-6
      = f.input :last_name
      = f.input :email
      = f.input :phone, placeholder: '+37529...'
      = f.input :photo
    .col-lg-6
      = f.input :given_names
      = f.input :date_of_birth, as: :date_picker

  .row
    .col-lg-4
      .actions
        = f.submit 'Подать заявку', class: 'btn btn-primary'
