<h1>ImportMembers#import</h1>

<%= form_tag members_import_parsed_csv_path, :method => :post, :id => 'select_for_import_form' do -%>
<table>
  <tr>
    <th><%= check_box_tag 'check_all', 'check_all', true %></th>
    <th>#</th>
    <th>Last name</th>
    <th>Given names</th>
    <th>Birth date</th>
    <th>Address</th>
    <th>E-mail</th>
    <th>Phone</th>
    <th>Application</th>
    <th>Join date</th>
    <th>Join protocol</th>
    <th>Card #</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @members.each_with_index do |member, i| %>
    <tr>
      <td><%= check_box 'imported_members', 'id', {:multiple => true, :class => 'check', :checked => true}, i, nil %>
        <td><%= i %></td>
        <td><%= member.last_name %></td>
        <td><%= member.given_names %></td>
        <td><%= member.date_of_birth %></td>
        <td><%= member.address %></td>
        <td><%= member.email %></td>
        <td><%= member.phone %></td>
        <td><%= member.application_exists ? '✓' : '' %></td>
        <td><%= member.join_date %></td>
        <td><%= member.join_protocol %></td>
        <td><%= sprintf("%06u", member.card_number) unless member.card_number.nil? %></td>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Import selected records" %>
<% end -%>

<p>Failed to import: <%= @import_failed %> rows</p>

