- if @member.neophyte?
  %h2
    = "Приветствуем в наших рядах, #{@member.given_names}!"
  %p
    Для завершения вступления в МВО осталось оплатить членский взнос ;)
- else
  %h2
    Оплата членского взноса
%p
  Членский взнос в МВО действует на протяжении года от момента уплаты или от
  момента окончания действия предыдущего взноса. Если до окончания срока действия
  предыдущего взноса осталось меньше месяца, то вы оплатите на год вперёд, если
  больше — то оплаченный срок не изменится.

- if @member.last_payment.nil?
  %p До сих пор взносов у вас не было.
- else
  %p
    Ваш предыдущий взнос заканчивает действовать
    %strong
      = @member.last_payment.end_date.to_s + "."
%p
  Если вы оплатите сейчас, то взнос будет действовать с
  %strong
    = @new_payment.start_date
  по
  %strong
    = @new_payment.end_date.to_s + "."

%p Выберите один из следующих методов оплаты:

.accordion#pay-methods-accordion
  .card
    .card-header
      .h2
        %button.btn.btn-link{type: 'button', 'data-toggle': 'collapse', 'data-target': '#tabErip'}
          ЕРИП
    .collapse.show#tabErip{'data-parent': '#pay-methods-accordion'}
      .card-body
        %p
          Для оплаты через ЕРИП ищите нас в дереве услуг по следующему пути:
          Благотворительность, общественные объединения → Спортивные объединения →
          Минское велосипедное общество → Членский взнос.
        %p
          Понадобится указать номер членского билета (даже если вы его
          ещё не получили, номер уже известен).
        %p
          Ваш номер билета:
          = @member.card_number ||= '<неизвестен>'

  .card
    .card-header
      .h2
        %button.btn.btn-link{type: 'button', 'data-toggle': 'collapse', 'data-target': '#tabCard'}
          Платёжная карта (VISA, MasterCard, БЕЛКАРТ)
    .collapse#tabCard{'data-parent': '#pay-methods-accordion'}
      .card-body
        %p
          Оплата с помощью банковской карты Visa, MasterCard или БелКАРТ.
          Используется сервис bePaid, мы не получаем и не храним данные ваших карт.

        .row
          .col-lg-4
            = form_with url: member_checkout_path(@member) do |form|
              - if member_signed_in?
                .form-group
                  = form.label :full_name, 'Участник', for: 'full_name_input'
                  = form.text_field :full_name,
                                  id: 'full_name_input',
                                  class: 'form-control',
                                  value: @member.full_name,
                                  disabled: true
              .form-group
                = form.label :card_number, 'Номер билета', for: 'card_number_input'
                = form.text_field :card_number,
                                  id: 'card_number_input',
                                  class: 'form-control',
                                  value: @member.card_number,
                                  disabled: true
              .form-group
                = form.label :amount, 'Сумма', for: 'amount_input'
                .input-group
                  = form.text_field :amount, id: "amount_input", class: 'form-control', value: '27'
                  .input-group-append
                    %span.input-group-text#sum-byn BYN
              = form.submit 'Перейти к оплате', class: 'button btn btn-primary'

