<p id="notice"><%= notice %></p>

<table class="member_info" summary="Member information">
  <tr>
    <td class="main">
      <h2><%= "#{@member.last_name} #{@member.given_names}" %></h2>
    </td>
    <td class="sidebar round">
      <strong>Name</strong>
      <%= @member.given_names %> <%= @member.last_name %><br/>

      <strong>Date of birth</strong>
      <%= @member.date_of_birth %><br/>

      <strong>Address</strong>
      <%= @member.address %><br/>

      <% if @member.membership_paused %>
        <strong>Membership is paused!</strong> Cause: <%= @member.membership_pause_note %><br/>
      <% end %>

      <% unless @member.postal_address.blank? -%>
        <strong>Postal address</strong>
        <%= @member.postal_address %><br/>
      <% end %>

      <strong>Phone</strong>
      <%= @member.phone %><br/>

      <strong>e-mail</strong>
      <%= @member.email %><br/>

      <% unless @member.site_user.nil? or @member.site_user.blank? -%>
        <strong>Site user</strong>
        <%= link_to @member.site_user, "http://bike.org.by/users/#{@member.site_user_normalized}" %><br/>
        <strong>Site user registered at</strong>
        <%= @member.site_user_creation_date %><br/>
      <% end %>
      <strong>Payments:</strong><br/>
      <%= link_to 'Pay', new_payment_for_path(@member) %><br/>
      <table>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Period start</th>
          <th>Period end</th>
        </tr>
        <% @member.payments.each do |payment| -%>
          <tr>
            <td><%= payment.date %></td>
            <td><%= payment.amount %></td>
            <td><%= payment.start_date %></td>
            <td><%= payment.end_date %></td>
        <% end -%>
      </table>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
