<p id="notice"><%= notice %></p>

<table class="member_info" summary="Member information">
  <tr>
    <td class="main">
      <h1><%= "#{@member.last_name} #{@member.given_names}" %></h1>
    </td>
    <td class="sidebar round">
      <label>Name</label>
      <%= @member.given_names %> <%= @member.last_name %><br/>

      <%= label :member, :date_of_birth %>
      <%= @member.date_of_birth %><br/>

      <%= label :member, :address %>
      <%= @member.address %><br/>

      <%= label :member, :phone %>
      <%= @member.phone %><br/>

      <%= label :member, :email %>
      <%= @member.email %><br/>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
