<p id="notice"><%= notice %></p>

<table class="member_info" summary="Member information">
  <tr>
    <td class="main">
      <h2><%= "#{@member.last_name} #{@member.given_names}" %></h2>
    </td>
    <td class="sidebar round">
      <strong>Name</strong>
      <%= @member.given_names %> <%= @member.last_name %><br/>

      <strong>Date of birth</strong>
      <%= @member.date_of_birth %><br/>

      <strong>Address</strong>
      <%= @member.address %><br/>

      <% unless @member.postal_address.blank? -%>
        <strong>Postal address</strong>
        <%= @member.postal_address %><br/>
      <% end %>

      <strong>Phone</strong>
      <%= @member.phone %><br/>

      <strong>e-mail</strong>
      <%= @member.email %><br/>

      <strong>Application</strong>
      <%= @member.application_exists ? 'signed' : "isn't' signed" %><br/>

      <strong>Joined</strong>
      <%= @member.joined ? 'yes' : 'no' %><br/>

      <% if @member.joined %>
        <strong>Join date</strong>
        <%= @member.join_date %><br/>

        <strong>Join protocol</strong>
        <%= @member.join_protocol %><br/>
      <% end %>

      <% unless @member.site_user.nil? or @member.site_user.blank? -%>
        <strong>Site user</strong>
        <%= link_to @member.site_user, "http://bike.org.by/users/#{@member.site_user_normalized}" %><br/>
        <strong>Site user registered at</strong>
        <%= @member.site_user_creation_date %>
      <% end %>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
